<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>What They Serve &mdash; Register</title>
<meta name="description" content="Page description goes here">

<!-- custom css   -->
<link href="/static/css/style.css" rel="stylesheet">
<!-- end custom css -->

<!-- ******************************************************************************************
Set the type and color theme here - the Pro version contains additional themes -->
<link href="/static/css/hawthorne_type2_color3.css" rel="stylesheet">
<!--  ************************************************************************************* -->

<link href="/static/css/font-awesome.min.css" rel="stylesheet">
<script src="/static/js/vendor/modernizr.js"></script>

</head>
<body>

<div class="top-border"></div>

<div class="row">
	<div class="small-12 medium-12 large-12 small-centered columns">
		<header>
			<h1><a href="index.html">What They Serve</a></h1>
			<h2><a href="index.html">Visual Restaurant Reviews</a></h2>
			<div class="logo">
				<a href="index.html"><img src="/static/img/frenchfries.png" alt="Your Name Here" /></a>
			</div>
		</header>
	</div>
	<div class="small-12 medium-12 large-12 small-centered columns">
		<nav>
			<ul class="inline-list-custom">
				<li><a href="index.html">Most Recent Uploads</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="login.html">Login</a></li>
				<li><a href="register.html" class="current">Register</a></li>
			</ul>
		</nav>
	</div>
</div>

<body>
<div class="container">
	<section id="content">
		<form action="">
			<h1>Register</h1>
			<div>
				<input type="text" placeholder="Desired Username" required="" id="username" />
			</div>
			<div>
				<input type="password" placeholder="Desired Password" required="" id="password" />
			</div>
			<div>
				<input type="password" placeholder="Confirm Password" required="" id="confirm-password" />
			</div>
			<div>
				<input type="email" placeholder="Email" required="" id="email" />
			</div>
			<div>
				<input type="email" placeholder="Confirm Email" required="" id="confirm-email" />
			</div>
			<div>
				<input type="submit" value="Register" />
				<a href="#">Lost your password?</a>
				<a href="login.html">Have Account?</a>
			</div>
		</form>
		<!--<div class="button">
			<a href="#">Download source file</a>
		</div>-->
	</section>
</div>

<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<footer>
			<ul>
				<li>&copy; 2014 <a href="index.html">Your Name Here</a>. All rights reserved.</li>
				<li><a href="mailto:hello@yourname.com"><i class="fa fa-envelope-o"></i> hello@yourname.com</a></li>

				<!-- *****************************************************************************************
				The "Powered by Type & Grids" link in the footer is required in the Free version
				typeandgrids.com/pirates -->
				<li>Powered by <a href="http://www.typeandgrids.com" target="_blank">Type &amp; Grids</a></li>
				<!--  ************************************************************************************ -->

			</ul>
			<div class="social-icons">
				<a href="http://www.twitter.com/typeandgrids" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
				<a href="http://www.facebook.com/typeandgrids" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
			</div>
		</footer>
	</div>
</div>

<script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/foundation.min.js"></script>
<script src="/static/js/hawthorne.js"></script>

</body>
</html>
